html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: lightseagreen;
    width: 100%;
    padding: 10px;
}

nav h2 {
    color: white;
}

main {
    margin: 0 20%;
    display: inline-block;
}

main p {
    font-size: 1.2em;
    border:2px dashed teal;
    background: rgb(185, 168, 222);
}

main h2 {
    color: lightseagreen;
}

video{
    border: 2px black solid;
    background-color: teal;
}

section{
    border: 3px solid grey;
    background-color: rgb(161, 255, 227);
}

.captions{
    text-shadow:3px 1px lightseagreen;
}
.subtitles{
    text-shadow:3px 1px black;
}

p.left{
    margin-right: 300px;
}
p.right{
    margin-left: 300px;
}